*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-gallery{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.preview{
    display: flex;
    list-style: none;
}

img{
    border-radius: 10px;
    border: 2px solid #424242;
    box-shadow: 7px 3px 8px 2px;
}

li:not(:last-child){
    margin-right: 10px;
}

li > img{
    filter: grayscale(100%);
    width: 206px;
}

.action{
    transition-duration: 1s;
    filter: grayscale(0%);
}

