<div class="item">
  <h2  class="title-recipe">{{title}}</h2>
  <div class="block">
    <p class="recipe">{{text}}</p>
    <div class="action">
      <button class="button delete" type="reset">Delete</button>
      <button class="button edit" type="submit">Edit</button>
    </div>
  </div>
</div>
